$lightgrey: #e7edf1;
$darkgrey: #273335;
$orange: #ff6d38;

html, body {
  height: 100%;
  font-family: 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $darkgrey;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.u-wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 3rem 0;
}

/**
 * hero section
 */

.hero {
  background-color: $darkgrey;
  min-height: 500px;
  color: $lightgrey;
  position: relative;
}

.hero-wrapper {
  text-align: center;
}

.hero-title {
  font-size: 4rem;
  font-weight: 100;
}

.hero-subtitle {
  font-size: 1.5rem;
  font-weight: 400;
}

.hero-button {
  position: absolute;
  width: 220px;
  height: 48px;
  bottom: 4rem;
  margin-left: -110px;
  outline: none;
  box-shadow: 0 0 0 4px rgba(255, 109, 56, 0);
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #BA5029;
  color: $lightgrey;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 46px;
  letter-spacing: 0.1rem;
  cursor: pointer;
  transition: all .3s ease;

  &:hover {
    background-color: $orange;
    border: 1px solid rgba(255, 109, 56, 1);
    box-shadow: 0 0 0 4px rgba(255, 109, 56, 0.4);
  }
}

/**
 * tutorial
 */

.tutorial {
  background-color: $lightgrey;
  min-height: 500px;
  padding-top: 4rem;
  padding-bottom: 6rem;
  margin-bottom: 3rem;
}

.tutorial-part-title {
  margin: 2rem 0;
  color: $orange;
}

/**
 * terminal
 */

.terminal {
  min-height: 200px;
}

.terminal-header {
  font-weight: 700;
  min-height: 2rem;
  line-height: 2rem;
  border-radius: 4px 4px 0 0;
  text-align: center;
  color: $darkgrey;
  background-color: #909090;
}

.terminal-window {
  color: $lightgrey;
  border-radius: 0 0 4px 4px;
  background-color: $darkgrey;
  min-height: 200px;
}

.terminal-window-content {
  padding: 1rem;
}

.terminal-response {
  opacity: 0;
  margin-top: 0.5rem;
  transition: opacity .3s ease .3s;
  line-height: 1.5;
  font-weight: 300;
  font-size: 0.875rem;
}

.terminal-response.is-visible {
  opacity: 0.9;
}

.terminal-response p {
  margin: 0 0.875rem;
}

/**
 * footer section
 */

footer {
  color: $lightgrey;
  text-align: center;
  font-weight: 400;
  padding: 3rem 0;
}

footer a {
  text-decoration: none;
  color: $lightgrey;

  &:hover {
    border-bottom: 1px dotted $lightgrey;
  }
}

/*
 * typewriting
 */

.typed-cursor{
    padding-left: 0.2rem;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

.hero .typed-cursor {
  font-size: 1.5rem;
}

.tutorial .typed-cursor {
  font-size: 1rem;
}

@keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/*
 * intro scene
 */

.box {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  overflow: visible;
  z-index: 2;
  background-color: $darkgrey;
  transition: all 1s ease;
}

.box.is-hidden {
  opacity: 0;
  visibility: hidden;
}

svg {
  display: block;
  overflow: visible;
}

.grey-dot {
  fill: #fff;
}

circle {
  opacity: 0;
}

